[Unit]
Description=TreHacklabLed autoupdater
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/autoupdate.sh

[Install]
WantedBy=multi-user.target
