[Unit]
Description=TreHacklab LedMatrix
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/startup.sh

[Install]
WantedBy=default.target