 [Unit]
 Description=User ledmatrix script
 After=multi-user.target

 [Service]
 User=trehacklab
 Group=trehacklab
 Type=simple
 ExecStart=/home/trehacklab/startup.sh

 [Install]
 WantedBy=multi-user.target
